/* Header Section */
.header-container {
    background-color: ghostwhite;
    padding: 1%;
}

.nav-bar, .rewards-bar {
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.nav-button {
    background-color: grey;
    width: 10%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
}

.nav-image, .rewards-image {
    width: 5%;
}

.title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 5px;
}

.description {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    margin-top: 0;
}

/* Banner Section */
.order-banner {
    background-color: grey;
    padding: 2%;
}

.banner-img {
    width: 100%;
    height: auto;
}

/* Rewards Section */
.rewards-container {
    background-color: ghostwhite;
    padding: 1%;
}

/* Learn More Section */
.learn-more {
    background-color: ghostwhite;
    padding: 1%;
}

.learn-more-container {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learn-more-text-container {
    background-color: grey;
    margin: 1%;
    width: 100%;
    height: auto;
    padding-left: 1%;
}

.learn-more-image {
    background-color: grey;
    padding: 2%;
    width: 100%;
    height: auto;
}

/* Menu Section */
.our-menu-container {
    background-color: ghostwhite;
    padding: 1%;
    display: flex;
    align-items: center;
}

.our-menu {
    background-color: lightgrey;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 1%;
}

.menu-item-container {
    background-color: grey;
    width: auto;
}

.menu-item {
    background-color: maroon;
    display: grid;
}

.menu-item-img-container {
    display: flex;
    width: auto;
}

.menu-item-img {
    width: 25%;
    height: auto;
}

.menu-item-text-container {
    display: flex;
    padding-left: 5%;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    /* Body */
    body {
        min-width: 320px; /* Set a minimum width for the body */
        margin: 0 auto; /* Center the content horizontally */
    }

    /* Header */
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-button {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .nav-image, .rewards-image {
        width: 10%;
    }

    /* Learn More */
    .learn-more {
        background-color: ghostwhite;
        padding: 1%;
    }

    .learn-more-container {
        flex-direction: column;
        width: 100%;
    }

    .learn-more-text-container {
        background-color: grey;
        margin: 1%;
        width: 55%;
        padding-left: 1%;
        text-align: center;
    }

    .learn-more-image {
        background-color: grey;
        padding: 2%;
        width: 50%;
    }

    /* Menu Section */
    .our-menu {
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-item-container {
        width: 100%;
    }

    .menu-item-img {
        width: 15%;
    }
}
