.header {
    background-color: ghostwhite;
    padding: 1% 1% 1% 1%;
}

.nav {
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.header_image {
    width: 10%;
    text-align: center;
//background-color: red;
}

.nav_button {
    background-color: grey;
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_banner {
    background-color: grey;
    padding: 2%;
}

.banner_img {
    width: 100%;
    height: auto;
}

.rewards {
    background-color: ghostwhite;
    padding: 1%;
}

.learn_more {
    background-color: ghostwhite;
    padding: 1%;
}

.learn_more_container {
    background-color: lightgrey;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
}

.learn_more_article {
    background-color: grey;
    margin: 1%;
    width: 100%;
    height: auto;
    text-align: center;
}

.learn_more_image {
    background-color: grey;
    padding: 2%;
    width: 100%;
    height: auto;
}

.our_menu_container {
    background-color: ghostwhite;
    padding: 1%;
    display: flex;
    align-items: center;
}

.our_menu {
    background-color: lightgrey;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 1%;
}

.menu_item_container {
    background-color: grey;
    width: auto;
    /*
    display: flex;
    align-items: center;
    */
}

.menu_item {
    background-color: maroon;
    display: grid;
}

.menu_item_img_container {
    display: flex;
    width: auto;
}

.menu_item_img {
    width: 25%;
    height: auto;
}

.menu_item_text_container {
    display: flex;
    padding-left: 5%;
    flex-direction: column;
}

.h1 {
    font-size: 12px;
    margin-bottom: 5px;
}

.p {
    font-size: 10px;
    margin-top: 0;
}
